@model AspNetIdentityTry1.Models.User

@{
    ViewBag.Title = "DeleteUser";

    List<SelectListItem> listUsersName = new List<SelectListItem>();

    if (ViewBag.allUsersName != null)
    {
        foreach (var userName in ViewBag.allUsersName)
        {
            listUsersName.Add(new SelectListItem
                {
                    Text = userName,
                    Value = userName
                });
        }
    }
    
}

<h2>Delete User</h2>

@if (TempData["Notification"] != null)
{
    <h4 style="color: red">@TempData["Notification"]</h4>
}

<form action="/Auth/DeleteUser" method="post" onsubmit="if (!confirm('Are you sure you want to delete this account?')) { return false; }">
    <div class="form-group form-inline">
        @Html.LabelFor(model => model.UserName)
        @Html.DropDownListFor(model => model.UserName, listUsersName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        <button type="submit" class="btn btn-default">Delete user</button>
    </div>
</form>
